
.submit-btn svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .submit-btn span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .submit-btn:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  .submit-btn:hover span {
      transform: translateX(7px);
  }